body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row{
    background-color: rgb(247, 226, 224);
    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
     
}

.links{
    margin-left: 60%;
}

.link{
    margin-left: 5%;
    margin-top: 20px;
    height: 15px;
    
    color: slateblue;
    margin-bottom: 5px;
    text-decoration: none;
    
   

}

.bienvenida{
    padding-top: 30px;
    margin-right: 15%;
    text-align: end;
}


.producto{
        
    height: 200px;
    width: 150px;
}