body{
    background-color: aliceblue;
    
}

.row{
    background-color: rgb(247, 226, 224);
    padding-right: 70px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
    

}
.columna{
    width: 20%;
    display: inline-block;
    height: 120px;
    align-content: center;
    padding-bottom: 70px;
    
}


.link{
    display: block;
    margin-top: 20px;
    height: 15px;
    margin-left: 350px;
    color: slateblue;
    margin-bottom: 5px;
   

}

.bienvenida{
    padding-top: 30px;
    margin-right: 17%;
    text-align: end;
}


