body{
    background-color: rgb(235, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divCont{
    border-radius: 5px;
    background-color: rgb(247, 247, 244);
}

.row{
    background-color: rgb(247, 226, 224);
    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
     
}

.links{
    margin-left: 60%;
}

.link{
    margin-left: 5%;
    margin-top: 20px;
    height: 15px;
    
    color: slateblue;
    margin-bottom: 5px;
    text-decoration: none;
    
   

}

.bienvenida h2{
    padding-top: 30px;
    margin-right: 13%;
    text-align: end;
}




.listaProd2{
    
    background-color: rgb(235, 211, 211);
    border-bottom: rgb(198, 194, 223);
    display: inline-block;
    width:27%;
    margin-left: 5%;
    padding: 60px 25px 60px 25px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    
}

h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: darkslategrey;
}

.producto{
    padding-left: 5%;
}

.botones{
    margin-top: 10px;
    margin-right: 35px;
    margin-left: 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer{
    text-align: center;
    margin-top: 20px;
    position: sticky;
    
}